.booked {
  background: #c6eeb6;
  z-index: 10;
}

.new {
  background: #f3d581;
}

.conflict {
  background: #f594b4;
  opacity: 0.9;
}

.row {
  height: 60px;
  background: #85838361;
}

.headerColumn {
  font-size: 14px;
}

.headerColumnDesc {
  border: 1px solid #ccc;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
}

.headerRow {
  margin-top: 50px;
}

.headerDescHour {
  font-size: 1rem;
  font-weight: 700;
}
.headerAmPm {
  font-size: 0.8rem;
}

.bookings {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
}
