.App {
  text-align: center;
}

.AppHeader {
  background-color: #222;
  color: white;
  padding: 20px 0;
}

.AppDropzone {
  padding: 50px 0;
  cursor: pointer;
}

.App-page-title {
  font-size: 2rem;
}

.App-page-header {
  height: 90px;
  padding: 10px 20px 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.btnContainer {
  margin-top: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.btn {
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.btnSubText {
  font-size: 0.75rem;
  text-transform: none;
  color: #333;
}
